<a href="https://colab.research.google.com/github/Swastika-05/python-lab/blob/main/20_02_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*args --> when we dont know how many arguments are to be passed

In [5]:
def fun(*args):          # any arguments except dictionary
  return sum(args)      #inbuilt function sum

print(fun(1,2,3,4,5))

L1=[1,2,5,8,11]
L2=[3,6]
print(fun(*L1))
print(fun(*L1,*L2))

T1=(5,9,8,6)
T2=(1,5,11,9)

print(fun(*T1,*T2))

15
27
36
54

In [7]:
def fun(*args,c):
  return sum(args,c)
d=30
print(fun(1,2,d))

TypeError: fun() missing 1 required keyword-only argument: 'c'

In [14]:
def bio_data(**kwargs):
  for key,value in kwargs.items():
    print(key,value)              #we can use format function here
#dict_1={....}
bio_data(Name ='Swastika',SAP_ID='590012371',Age='19') #bio_data(**dict_1)

Name Swastika
SAP_ID 590012371
Age 19

difference between * and ** operator

WAP to take values from a list and store them in a dictionary using functions args and kwargs

In [13]:
L1=['Swastika',590012371,19]
dict_1={}

def fun(*args,**kwargs):