<a href="https://colab.research.google.com/github/Swastika-05/python-lab/blob/main/30_01_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [5]:
l1=[]
sum=0
for i in range(11):
  l1.append(i)
  sum+=i
  l1.append(sum)
print(l1)
l1.append(sum)
print(l1)

[0, 0, 1, 1, 2, 3, 3, 6, 4, 10, 5, 15, 6, 21, 7, 28, 8, 36, 9, 45, 10, 55]
[0, 0, 1, 1, 2, 3, 3, 6, 4, 10, 5, 15, 6, 21, 7, 28, 8, 36, 9, 45, 10, 55, 55]

Write a program to calculate the squares of each element between the range

In [7]:
l1=[]
sum=0
for i in range(50):
  l1.append(i)
  l1.append(i**2) #l1.append(pow(i,2))
print(l1)

[0, 0, 1, 1, 2, 4, 3, 9, 4, 16, 5, 25, 6, 36, 7, 49, 8, 64, 9, 81, 10, 100, 11, 121, 12, 144, 13, 169, 14, 196, 15, 225, 16, 256, 17, 289, 18, 324, 19, 361, 20, 400, 21, 441, 22, 484, 23, 529, 24, 576, 25, 625, 26, 676, 27, 729, 28, 784, 29, 841, 30, 900, 31, 961, 32, 1024, 33, 1089, 34, 1156, 35, 1225, 36, 1296, 37, 1369, 38, 1444, 39, 1521, 40, 1600, 41, 1681, 42, 1764, 43, 1849, 44, 1936, 45, 2025, 46, 2116, 47, 2209, 48, 2304, 49, 2401]

List within a list

l2 = [1 ,2 ,"Abc" ,6.5 ,[5,8,"c"] ,6 ,9 ,0.0 ,True]

l3=l2

enumerate ==> prints

In [9]:
l1=[1,2,3,5,12,14]

for i, Index in enumerate(l1):
  print(Index,"is at index no.",i)

1 is at index no. 0
2 is at index no. 1
3 is at index no. 2
5 is at index no. 3
12 is at index no. 4
14 is at index no. 5

In [13]:
l1=[1,2,3,5,12,14]

for i in range(len(l1)):
  print(l1[i],"is present at index no.",i)

1 is present at index no. 0
2 is present at index no. 1
3 is present at index no. 2
5 is present at index no. 3
12 is present at index no. 4
14 is present at index no. 5

for i in range (20, 1000) # from 20 to 999

Armstrong Number

In [ ]:
l2=[]
for i in range(20,1000):

Inbuilt function

tuple()

T1=(1,2,3,"Abc",'A',True,7)

It is inmutable i.e, insertion and deletion of elements are not allowed

In [21]:
T1=(1,2,3,"Abc",'A',True,7)
T2=(5,8,9)
print(type(T1))
T3=T1+T2
print(T3)
T3=T3*2
print(T3)
print(T1[:])
print(T1[::])
print(T1[::-2])

<class 'tuple'>
(1, 2, 3, 'Abc', 'A', True, 7, 5, 8, 9)
(1, 2, 3, 'Abc', 'A', True, 7, 5, 8, 9, 1, 2, 3, 'Abc', 'A', True, 7, 5, 8, 9)
(1, 2, 3, 'Abc', 'A', True, 7)
(1, 2, 3, 'Abc', 'A', True, 7)
(7, 'A', 3, 1)