<a href="https://colab.research.google.com/github/Swastika-05/python-lab/blob/main/Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello World")

Hello World

In [ ]:
a = 2
b = 2
if(a>b):
  print("a is greater than b")
else:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 2
b = 3
c = 4
if(a>b):
  print(f"{a} is greater than b")
else:
  print(f"{b} is greater than a")

In [ ]:
a = 2
b = 3
c = 4
if(a>b):
  print("a is greater than b")
elif()
else:
  print("b is greater than a")

In [ ]:
money = 5000

if(money==5000):
  print("Movie and Restaurant")
elif(money<=3000 and money>1000):
  print("Movie")
elif(money<=1000):
  print("Restaurant")

Restaurant

In [ ]:
a = input("Enter the number:")

print(a);

print(type(a))

Enter the number:5
5
<class 'str'>

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
print(i)

9

In [ ]:
a=10
while(a>0):
  print(a)
  a=a-1

10
9
8
7
6
5
4
3
2
1

**Keywords and Identifiers**

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a = "hello"\
    "world"\
    "!"
print(a)

helloworld!

In [ ]:
v=['a',
'e',
'i',
'o',
'u']

print(v)

['a', 'e', 'i', 'o', 'u']

In [ ]:
mystr="'Hello my name is Swastika' \n and 'I am a student'"
print(mystr)

'Hello my name is Swastika'
 and 'I am a student'

In [ ]:
n1=input("Enter the first no.:")
n2=input("Enter the second no.:")
sum= int(n1)+ int(n2)
sum

Enter the first no.:10
Enter the second no.:20

30

In [ ]:
n1=int(input("Enter the first no.:"))
n2=int(input("Enter the second no.:"))
sum= n1+n2
sum

Enter the first no.:10
Enter the second no.:20

30

In [ ]:
n1=float(input("Enter the first no.:"))
n2=float(input("Enter the second no.:"))
sum= n1*n2
sum

Enter the first no.:10
Enter the second no.:20

200.0

In [ ]:
n1=float(input("Enter the first no.:"))     #type conversion
n2=float(input("Enter the second no.:"))
sum= n1+n2
sum

Enter the first no.:10
Enter the second no.:20

30.0

In [ ]:
n1=float(input("Enter the first no.:"))     #type conversion
n2=int(input("Enter the second no.:"))
sum= n1+n2
sum

Enter the first no.:10
Enter the second no.:20

30.0

In [ ]:
n1=float(input("Enter the first no.:"))     #type conversion
n2=input("Enter the second no.:")
sum= n1+n2
sum

Enter the first no.:10
Enter the second no.:20

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
a=17
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print("\n")
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print("\n")
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)
print("\n")
print(a&b)
print(a|b)
print(a^b)
print(a>>2)
print(a<<2)
print("\n")
print(a>b and a<b)
print(a>b or a<b)
print(not a>b)
print("\n")
print(a is b)
print(a is not b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)
print("\n")
print(a>b and a<b)
print(a>b or a<b)
print(not a>b)
print("\n")
print(a is b)
print(a is not b)

20
14
51
5.666666666666667
2


20
14
51
5.666666666666667
2
5
4913


True
False
False
True
True
False


1
19
18
4
68


False
True
False


False
True
False
True
True
False


False
True
False


False
True

In [ ]:
a=10
b=-a

print(a)
print(b)

10
-10

In [ ]:
a=10
b=5

if((a>b) and (a==b)):
  print("Success")
else:
  print("Failure")

Failure

WAP to use input function. Take two inputs and ask user to perform which operation

In [ ]:
n1=int(input("Enter the first no.:"))
n2=int(input("Enter the second no.:"))

print("Enter A for Addition")
print("Enter S for Subtraction")
print("Enter M for Multiplication")
print("Enter D for Division")

choice=input("Enter your choice:")

if(choice == 'A'):
  print(n1+n2)
elif(choice == 'S'):
  print(n1-n2)
elif(choice == 'M'):
  print(n1*n2)
elif(choice == 'D'):
  print(n1/n2)
else:
  print("Invalid choice")

Enter the first no.:10
Enter the second no.:20
Enter A for Addition
Enter S for Subtraction
Enter M for Multiplication
Enter D for Division
Enter your choice:A
30