<a href="https://colab.research.google.com/github/Swastika-05/python-lab/blob/main/list_comprehension_and_tuples_and_set(03_02_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

In [4]:
l1=[]
for i in range(11):
  l1.append(i)
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l1=[i for i in range (11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
for i in range(20):
  if i%2==0:
    l1.append(i)

In [ ]:
l1=[i for i in range(20) if i%2==0]
print(l1)

insert prime nos in a list using list comprehension

In [ ]:
l1=[i for i in range (20)]

insert squares of nos btw 10 to 20

(start index, end index, step size)

In [14]:
l1=[]
for i in range(1,10):
  l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
l1=[i**2 for i in range(1,10)]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

insert nos divisible by 3 and 5 and 7

In [18]:
l1=[]
for i in range(1000):
  if i%3==0 and i%5==0 and i%7==0:
    l1.append(i)
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]

In [20]:
l1=[i for i in range(1000) if i%3==0 and i%5==0 and i%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]

insert nos divisible by 3,5,7

In [22]:
l1=[i for i in range(1000) if i%3==0 if i%5==0 if i%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]

TUPLE

In [45]:
T1=(1,2,3,4,5,6,7,8)
T2=("One",'Two',"Three","Four",'Five',(5,8),('four','seven'))
T3=(1,'one',6,7.5,'Swastika')

T1[:]
T1[2:]
T1[-2:]
T1[:-1]
T1[-1]
T1[::-1]
T1[1:8:2]
T1[1:8:]
T1[::]
T1[::-1]
T4=T1+T2
T4
T2[0][0]

'O'

Set

Immutable

Cannot have duplicate values (list can have duplicate values)

In [47]:
S1={5,6,10,('A','B','C'),7.5}
S1

{('A', 'B', 'C'), 10, 5, 6, 7.5}

WAP using list comprehension to print armstrong numbers btw 100 and 10000

In [49]:
l1=[i for i in range(100,10000) if sum([int(j)**len(str(i)) for j in str(i)])==i]
print(l1)

[153, 370, 371, 407, 1634, 8208, 9474]